<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <class name="com.studentenrollmrnt.scripts.TestClassEmployeloginIEVP"/>
     <class name="com.studentenrollmrnt.scripts.TestClassEmployeVEIP"/>
     <class name="com.studentenrollmrnt.scripts.TestClassEmployeloginNV"/>
     <class name="com.studentenrollmrnt.scripts.TestClassEmploye"/>
     <class name="com.studentenrollmrnt.scripts.TestClassEmpoyeLogedInPage"/>
     <class name="com.studentenrollmrnt.scripts.TestClassEmployesearchname"/>
     <class name="com.studentenrollmrnt.scripts.TestClassEmployeshowdetails"/>
     <class name="com.studentenrollmrnt.scripts.TestClassEmployemarkentry"/>
     <class name="com.studentenrollmrnt.scripts.TestClassStudenloginNV"/> 
     <class name="com.studentenrollmrnt.scripts.TestClassStudentloginIEVP"/>
     <class name="com.studentenrollmrnt.scripts.TestClassStudentVEIP"/>
     <class name="com.studentenrollmrnt.scripts.TestClass"/>
     <class name="com.studentenrollmrnt.scripts.TestClassStudentLogedInPage"/>
     <class name="com.studentenrollmrnt.scripts.TestClassViewProfile"/>
     <class name="com.studentenrollmrnt.scripts.TestClassStudentUpdate"/>
     <class name="com.studentenrollmrnt.scripts.TestClassStudentupdationIP"/>
     <class name="com.studentenrollmrnt.scripts.TestClassstudentupdationIE"/>
     <class name="com.studentenrollmrnt.scripts.TestClassStudentupdationIV"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
